<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetiti.iotpcfgservice.mapper.AlarmMapper">
    
    <select id="deviceAlarmList" parameterType="java.util.Map"
            resultType="com.cetiti.iotpcfgservice.domain.ExceptionAlarm">
        SELECT ea.* , dm.device_model_name FROM t_exception_alarm ea
        left join t_device_model dm on ea.device_model = dm.device_model
        left join t_device d on ea.device_sn = d.sn
        <where>
            <if test="deviceModel != null">AND ea.device_model = #{deviceModel}</if>
            <if test="deviceSn != null">AND ea.device_sn LIKE CONCAT('%',#{deviceSn},'%')</if>
            <if test="startTime != null">AND ea.create_time &gt; #{startTime}</if>
            <if test="endTime != null">AND ea.create_time &lt; #{endTime}</if>
            <if test="conditions != null">AND ea.conditions LIKE CONCAT('%',#{conditions},'%')</if>
            <if test="departmentId != null">AND d.department_id = #{departmentId}</if>
        </where>
    </select>


    <select id="alarmCountByModel" parameterType="HashMap" resultType="Integer">
        SELECT COUNT(0)
        FROM t_exception_alarm
        WHERE device_model = #{deviceModel}
    </select>
</mapper>