<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cetiti.iotp.cfgservice.mapper.DeviceAlarmConfigMapper">

    <sql id="Base_Column_List">
        alarm_id, device_model, device_model_name, field, relation, threshold, description, alarm_level, alarm_type,
        create_user, create_time, modify_user, modify_time
    </sql>

    <select id="getDeviceAlarmConfig" resultType="com.cetiti.iotp.cfgservice.domain.entity.DeviceAlarmConfig">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM t_device_alarm_config
        WHERE alarm_id = #{alarmId,jdbcType=VARCHAR}
    </select>

    <select id="listDeviceAlarmConfig" parameterType="java.util.Map" resultType="com.cetiti.iotp.cfgservice.domain.entity.DeviceAlarmConfig">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_device_alarm_config
        <where>
            <if test="deviceModel != null and deviceModel != ''">
                AND device_model = #{deviceModel, jdbcType=VARCHAR}
            </if>
            <if test="createUser != null and createUser != ''">
                AND create_user = #{createUser, jdbcType=VARCHAR}
            </if>
            <if test="alarmType != null and alarmType != ''">
                AND alarm_type = #{alarmType, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="com.cetiti.iotp.cfgservice.domain.entity.DeviceAlarmConfig">
        INSERT INTO t_device_alarm_config (device_model, device_model_name, field, relation, threshold,
        description, alarm_id, alarm_level, alarm_type, create_user, create_time, modify_time, modify_user)
        VALUES (#{deviceModel,jdbcType=VARCHAR}, #{deviceModelName,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR},
                #{relation,jdbcType=VARCHAR},#{threshold,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
                #{alarmId,jdbcType=VARCHAR}, #{alarmLevel,jdbcType=TINYINT},#{alarmType,jdbcType=VARCHAR},
                #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR})
    </insert>

    <update id="updateSelective" parameterType="com.cetiti.iotp.cfgservice.domain.entity.DeviceAlarmConfig">
        UPDATE t_device_alarm_config
        <set>
            <if test="deviceModel != null and deviceModel != ''">
                device_model = #{deviceModel,jdbcType=VARCHAR},
            </if>
            <if test="deviceModelName != null and deviceModelName != ''">
                device_model_name = #{deviceModelName,jdbcType=VARCHAR},
            </if>
            <if test="field != null and field != ''">
                field = #{field,jdbcType=VARCHAR},
            </if>
            <if test="relation != null and relation != ''">
                relation = #{relation,jdbcType=VARCHAR},
            </if>
            <if test="threshold != null and threshold != ''">
                threshold = #{threshold,jdbcType=VARCHAR},
            </if>
                alarm_Level = #{alarmLevel,jdbcType=TINYINT},
            <if test="alarmType != null and alarmType != ''">
                alarm_type = #{alarmType,jdbcType=VARCHAR},
            </if>
                description = #{description,jdbcType=VARCHAR},
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                modify_user = #{modifyUser,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE alarm_id = #{alarmId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey">
        delete from t_device_alarm_config
        where alarm_id = #{alarmId,jdbcType=VARCHAR}
    </delete>

</mapper>